<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Gap Yea!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/results.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>
        <!-- bug: forEach cannot be used on single result, only valid for multiple results -->
        <!-- bug: when user enters "" or "someScramblewords", data returned is not an array but an object of 404 error -->
            <div class="container">
                <div class="row">
                    <% data.forEach(function(entry) { %>
                        <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"><%= entry["category"].title %></h5>
                            <p class="card-text">
                                <div>Value: <%= entry["value"] %></div></p>
                            <a href="" class="btn btn-warning">Check this out!</a>
                        </div>
                        </div>
                    <% }); %>
                </div>
            </div>

<% include partials/footer %>