body {
    background-size: contain;
}

.card {
    margin: 5% 3%;
    padding: 0% 2% 0% 2%;
    opacity: 0.8;
}

.card-body {
    text-align: center;
    margin: auto auto;
    margin-top: 0;
}

.btn-group {
    margin: auto auto;
}

.answers {
    display: block;
}

.hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.answers {
    display: none;
    font-weight: bold;
}