body {
    background-size: 100%;
}

.dropdown-toggle {
    margin-left: 40%;
}

.container {
    margin: 2% 2%;
    padding: 0% 2% 0% 2%;
    opacity: 0.85;
}

.card {
    text-align: center;
    margin: 5% 5% 5% 5%;
    margin-top: 0;
}

.btn-group {
    margin: auto auto;
}

.answers {
    display: block;
}

.hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.answers {
    display: none;
    font-weight: bold;
}